/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';
body{
    background-color: #EBEBEB;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

@media screen and (max-width: 600px) {
  table {
    display: block;
    overflow-x: auto;
  }
}